@font-face {
    font-family: break;
    src: url(../fonts/Break.ttf);
}

@font-face {
    font-family: infinLight;
    src: url(../fonts/infinity/MADEINFINITY\ PERSONALUSE-Light.otf);
}

@font-face {
    font-family: infinheavy;
    src: url(../fonts/infinity/MADEINFINITY\ PERSONALUSE-Black.otf);
}

@font-face {
    font-family: browser;
    src: url(../fonts/Browser-Italic.ttf);
}

@font-face {
    font-family: bright;
    src: url(../fonts/Brightness.ttf);
}

@font-face {
    font-family: brightly;
    src: url(../fonts/BrightnessInverted.ttf);
}

@font-face {
    font-family: sign;
    src: url(../fonts/Signup.ttf);
}